@import '~variables'
// app global css

.half-transparent
  opacity 0.9

.border
  border 1px solid #666

.border-color-grey-2
  border-color $grey-2!important

.border-color-grey-3
  border-color $grey-3!important

.border-color-grey-4
  border-color $grey-4!important

.border-color-grey-6
  border-color $grey-6!important

.border-color-d4
  border-color $d4!important

.border-left
  border-left 1px solid #666

.border-right
  border-right 1px solid #666

.border-top
  border-top 1px solid #666

.border-bottom
  border-bottom 1px solid #666

.min-width-auto
  min-width auto

.min-height-auto
  min-height auto!important

.no-round-borders
  border-radius 0

.transition
  transition ease all 400ms

.transition-200
  transition ease all 200ms

.bg-body-background
  background-color $body-background

.round-borders-10
  border-radius: 10px
.round-borders-5
  border-radius: 5px

.leave-right
  margin-right -50vw
  padding-left 10vw

.leave-right-100
  margin-left 100vw

.leave-right-absolute
  right -50vw

.leave-left-absolute
  left -50vw

.leave-bottom
  margin-bottom -100px

.border-white-1
  border 1px solid rgba(255, 255, 255, .1)

.transition-padding
  transition ease 300ms padding

.inactive
  opacity .4

.opacity-0
  opacity 0

.opacity-3
  opacity .3

.opacity-4
  opacity .4

.opacity-5
  opacity .5

.opacity-6
  opacity .6

.opacity-7
  opacity .7

.opacity-8
  opacity .8

.bg-e2
  background-color $e2
.bg-e3
  background-color $e3
.bg-e4
  background-color $e4
.bg-d4
  background-color $d4
.shadow-1-bright
  // box-shadow 0 1px 3px rgba(255,255,255,0.2), 0 1px 1px rgba(255,255,255,0.14), 0 2px 1px -1px rgba(255,255,255,0.12)
  box-shadow 1px 1px 1px 0px rgba(255,255,255,0.2)

.no-wrap
  white-space nowrap
//---------- quasar override

.q-slider-handle-container
  margin-right 0!important
  margin-left 0!important

.q-item-section + .q-item-section
  margin-left 0!important

.q-tabs-position-top .q-tabs-bar
  border-color transparent

.q-radio .q-option-inner
  display none

.q-tabs .q-ripple-container
  opacity 0!important
  display none

body
  color $grey-8

.modal-content
  //min-width calc(100vw - 30px)!important
  //min-height calc(100vh - 30px)!important
  min-width 100vw
  min-height 100vh
  width 100%
  height 100%
.modal-backdrop
  display none

.q-popover
  line-height: 1.5em
