@import '~variables'
// app global css

.half-transparent
  opacity 0.9

.border
  border 1px solid #666

.border-left
  border-left 1px solid #666

.border-right
  border-right 1px solid #666

.border-top
  border-top 1px solid #666

.border-bottom
  border-bottom 1px solid #666

.min-width-auto
  min-width auto

.min-height-auto
  min-height auto

.no-round-borders
  border-radius 0

.transition
  transition ease all 500ms

.bg-body-background
  background-color $body-background
//---------- quasar override

.q-slider-handle-container
  margin-right 0!important
  margin-left 0!important

.q-item-section + .q-item-section
  margin-left 0!important
